*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

body{
  background-color: #090814;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1600px;
}

nav {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  background-color: #060a1d59;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: #09081400;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px); 
  transition: top .5s;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
  color: #ececec;
  font-weight: 700;
  cursor: pointer;
}

#btn-mobile {
  display: none;
}

#logo{
  width: 150px;
  height: 50px;
}

#login{
  width: 150px;
  height: 40px;
  background-color: transparent;
  color: #e7e7e7;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body {
  font: 14px/2 "Open sans", sans-serif;
  letter-spacing: 0.05em;
}

.btn {
  display: inline-block;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  background: transparent;
  border: 1px solid #e1e1e1;
  font: 12px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.4em;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  transition: color 0.1s linear 0.05s;
  cursor: pointer;
}
.btn span{
  cursor: pointer;
}
.btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e1e1e1;
  z-index: 1;
  opacity: 0;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}
.btn::after {
  transition: border 0.1s linear 0.05s;
}
.btn .btn-inner {
  position: relative;
  z-index: 2;
}
.btn:hover {
  color: #373737;
  transition: color 0.1s linear 0s;
}
.btn:hover::before {
  top: 0;
  height: 100%;
  opacity: 1;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}
.btn:hover::after {
  border-color: #373737;
  transition: border 0.1s linear 0s;
}

.slideshow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.slideshow .slideshow-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slideshow .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slideshow .slide {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.slideshow .slide.is-active {
  display: block;
}
.slideshow .slide.is-loaded {
  opacity: 1;
}
.slideshow .slide .caption {
  padding: 0 100px;
}
.slideshow .slide .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  z-index: 1;
  background-size: cover;
  image-rendering: optimizeQuality;
}
.slideshow .slide .image-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.slideshow .slide .image {
  width: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.slideshow .slide-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideshow .slide .title {
  margin: 15px 0px;
  max-width: 1000px;
  font: 300 50px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.6em;
  text-transform: uppercase;
}
.slideshow .slide .text {
  margin: 0 auto;
  max-width: 1000px;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 20px;
}
.slideshow .slide .btn {
  border-color: #fff;
}
.slideshow .slide .btn::before {
  background: #fff;
}
.slideshow .pagination {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  height: 12px;
  cursor: default;
  z-index: 2;
  text-align: center;
}
.slideshow .pagination .item {
  display: inline-block;
  padding: 15px 5px;
  position: relative;
  width: 46px;
  height: 32px;
  cursor: pointer;
  text-indent: -999em;
  z-index: 1;
}
.slideshow .pagination .item + .page {
  margin-left: -2px;
}
.slideshow .pagination .item::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 5px;
  width: 36px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  transition: background 0.2s ease;
}
.slideshow .pagination .item::after {
  width: 0;
  background: #fff;
  z-index: 2;
  transition: width 0.2s ease;
}
.slideshow .pagination .item:hover::before, .slideshow .pagination .item.is-active::before {
  background-color: #fff;
}
.slideshow .arrows .arrow {
  margin: -33px 0 0;
  padding: 20px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 3;
}
.slideshow .arrows .prev {
  left: 0px;
}
.slideshow .arrows .prev:hover .svg {
  left: -10px;
}
.slideshow .arrows .next {
  right: 0;
}
.slideshow .arrows .next:hover .svg {
  left: 10px;
}
.slideshow .arrows .svg {
  position: relative;
  left: 0;
  width: 14px;
  height: 26px;
  fill: #fff;
  transition: left 0.2s ease;
}

.content-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-container section{
  width: 100%;
  height: 100vh;
  max-width: 1600px;
}

#page2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}

.service-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  height: fit-content;
  margin: 80px 20px;
}

.service{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 32%;
  min-width: 200px;
}

.service-number{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #f1f1f1;
  transition: ease .3s;
}

hr{
  width: 93%;
  border: 1px solid rgb(255, 255, 255);
  transition: ease .3s;
}

.service-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
  padding: 10px;
  width: 100%;
  height: 250px;
  background-color: #090814;
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
  transition: ease .3s;
}

.service:hover .service-card{
  border: 1px solid #bdb331;
} 

.service:hover .service-number{
  color: #bdb331;
}

.service:hover hr{
border: 1px solid #bdb331;
}

.service-card h1{
  font-size: 1.36vw;
  min-width: 20px;
}

.service-card p{
  font-size: 1.1vw;
  text-align: center;
}

.offer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content; 
  margin-bottom: 80px;
  border: 1px solid white;
}

.offer-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  white-space: nowrap;
  padding-left: 5%;
  width: 45%;
  color: #f1f1f1;
  height: 500px;
}

.offer-text h1{
  font-size: 35px;
  line-height: 45px;
}

#offer-image{
  width: 50%;
  height: 500px;
  border-left: 1px solid #f1f1f1;
}

#offer-button{
  margin-top: 25px;
  background-color: transparent;
  border: 1px solid #f1f1f1;
  width: 180px;
  height: 45px;
  color: #f1f1f1;
  cursor: pointer;
}

#page3{
  display: flex;
  flex-direction: column;
  background-color: green;
}

@media (min-width: 0) and (max-width: 600px){

  .offer-text{
    height: 350px;
  }

  .offer-text h1{
    font-size: 32px;
    line-height: 45px;
  }
  .offer-text p{
    font-size: 10px;
    line-height: 20px;
  }
  .slideshow .slide .title {
    margin: 15px 10px;
    margin-left: 25px;
    max-width: 1000px;
    font: 300 30px/1.2 "Oswald", sans-serif;

    text-transform: uppercase;
  }
  .slideshow .slide .text {
    margin: 0 auto;
    max-width: 1000px;
    font-size: 18px;
    line-height: 0.4;
    letter-spacing: 10px;
  }
  
}

@media (max-width: 992px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 65px;
    left: 0px;
    background-color: #060a1def;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  #menu::-webkit-scrollbar {
      display: none;
  }
  nav{
    justify-content: space-between;
  }

  #nav.active #menu {
    height: 310px;
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 3%;
    border-bottom: 2px solid #e7e7e7;
  }
  #btn-mobile {
    display: flex;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 3px solid #e7e7e7;
    width: 35px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 35px;
    height: 3px;
    background: #e7e7e7;
    margin-top: 9px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(130deg);
    background-color: red;
  }
  #nav.active #hamburger::after {
    transform: rotate(-130deg);
    background-color: red;
    top: -12px;
  }
  #login{
      display: none;
  }
  .service-container{
    flex-direction: column;
  }
  .service{  
    width: 100%;
  }
  .service-card p{
    font-size: 15px;
    text-align: center;
  }
  .service-card h1{
    font-size: 18px;
    text-align: center;
  }
  .offer{
    width: 100%;
    flex-direction: column;
  }
  .offer-text{
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  #offer-image{
    margin-top: 20px;
    width: 100%;
    height: 30%;
  }
}


@media (max-width: 1610px) {
  .content-container section{
    padding: 3%;
  }
  nav{
    padding: 0 3%;
  }
}