<!DOCTYPE html>
<html lang="pt-br" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=0.5, maximum-scale=5, minimum-scale=1.0">
  <title>Loja de carros</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet'><link rel="stylesheet" href="../style/style.css">

</head>
<body>
  <header id="header">
    <nav id="nav">
      <div class="container">
        <img src="../images/LOGO.png" alt="logo" id="logo">
        <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">
            <span id="hamburger"></span>
        </button>
        <ul id="menu" role="menu">
            <li><a href="#header" class="link">HOME</a></li>
            <li><a href="#page2" class="link">ESTOQUE</a></li>
            <li><a href="#page3" class="link">SOBRE</a></li>
            <li><a href="#" class="link">CONTATO</a></li>
            <li><a href="#" class="link">AGENDAMENTO</a></li>
        </ul>
        <button id="login">LOGIN</button>
      </div>
    </nav>
  </header>
  <main class="main-content">
    <section class="slideshow">
      <div class="slideshow-inner">
        <div class="slides">
          <div class="slide is-active">
            <div class="slide-content">
              <div class="caption">
                <div class="text">
                  <p>BUGATTI</p>
                </div> 
                <div class="title">MISTRAL</div>
                
                <a href="#" class="btn">
                  <span class="btn-inner">DESCOBRIR MAIS</span>
                </a>
              </div>
            </div>
            <div class="image-container">
              <img src="../images/bugattti.jpg" alt="" class="image" />
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <div class="caption">
                <div class="text">
                  <p>AUDI</p>
                </div> 
                <div class="title">E-TRON GT</div>
                
                <a href="#" class="btn">
                  <span class="btn-inner">DESCOBRIR MAIS</span>
                </a>
              </div>
            </div>
            <div class="image-container"> 
              <img src="../images/Audi-e-tron-GT.jpg" alt="" class="image" />
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <div class="caption">
                <div class="text">
                  <p>MASERATI</p>
                </div> 
                <div class="title">MC20 CIELO</div>
                
                <a href="#" class="btn">
                  <span class="btn-inner">DESCOBRIR MAIS</span>
                </a>
              </div>
            </div>
            <div class="image-container">
              <img src="../images/MC20.jpg" alt="" class="image" />
            </div>
          </div>
        
          <div class="slide">
            <div class="slide-content">
              <div class="caption">
                <div class="text">
                  <p>FERRARI</p>
                </div> 
                <div class="title">SF90 STRADALE</div>
                <a href="#" class="btn">
                  <span class="btn-inner">DESCOBRIR MAIS</span>
                </a>
              </div>
            </div>
            <div class="image-container"> 
              <img src="../images/ferrari.jpg" alt="" class="image" />
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <div class="caption">
                <div class="text">
                  <p>LAMBORGHINI</p>
                </div> 
                <div class="title">HURACAN</div>
                <a href="#" class="btn">
                  <span class="btn-inner">DESCOBRIR MAIS</span>
                </a>
              </div>
            </div>
            <div class="image-container"> 
              <img src="../images/huracan4.jpg" alt="" class="image" />
            </div>
          </div>
        </div>
        <div class="pagination">
          <div class="item is-active"> 
            <span class="icon">1</span>
          </div>
          <div class="item">
            <span class="icon">2</span>
          </div>
          <div class="item">
            <span class="icon">3</span>
          </div>
          <div class="item">
            <span class="icon">4</span>
          </div>
          <div class="item">
            <span class="icon">5</span>
          </div>
        </div>
        <div class="arrows">
          <div class="arrow prev">
            <span class="svg svg-arrow-left">
              <svg version="1.1" id="svg4-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M13,26c-0.256,0-0.512-0.098-0.707-0.293l-12-12c-0.391-0.391-0.391-1.023,0-1.414l12-12c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L2.414,13l11.293,11.293c0.391,0.391,0.391,1.023,0,1.414C13.512,25.902,13.256,26,13,26z"/> </svg>
              <span class="alt sr-only"></span>
            </span>
          </div>
          <div class="arrow next">
            <span class="svg svg-arrow-right">
              <svg version="1.1" id="svg5-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M1,0c0.256,0,0.512,0.098,0.707,0.293l12,12c0.391,0.391,0.391,1.023,0,1.414l-12,12c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414L11.586,13L0.293,1.707c-0.391-0.391-0.391-1.023,0-1.414C0.488,0.098,0.744,0,1,0z"/> </svg>
              <span class="alt sr-only"></span>
            </span>
          </div>
        </div>
      </div> 
    </section>
  </main>

  <div class="content-container">
    <section id="page2">
      
      <div class="service-container">
        <div class="service">
          <div class="service-number">
            <p>01</p>
            <hr>
          </div>
          <div class="service-card">
              <h1>VARIEDADE DE CARROS</h1>
              <p>At our car shop, we are committed to <br> providing our customers with exceptional<br>  service and competitive pricing.</p>
          </div>
        </div>

        <div class="service">
          <div class="service-number">
            <p>02</p>
            <hr>
          </div>
          <div class="service-card">
            <h1>COMPRA E VENDA</h1>
            <p>At our car shop, we are committed to <br> providing our customers with exceptional<br>  service and competitive pricing.</p>
          </div>
        </div>

        <div class="service">
          <div class="service-number">
            <p>03</p>
            <hr>
          </div>
          <div class="service-card">
            <h1>SUPORTE 24 HORAS</h1>
            <p>At our car shop, we are committed to <br> providing our customers with exceptional<br>  service and competitive pricing.</p>
          </div>
        </div>
      </div>
      <div class="offer">
        <div class="offer-text">
          <small>CLÁSSICOS</small>
            <h1>DESCUBRA UM NOVO <br> NIVEL DE CONFORTO</h1>
            <p>We're here to make the car-buying process as easy and stress-<br>free  as possible. Contact us today to schedule a test drive or to <br> learn more about our financing and service options.</p>
            <button id="offer-button">Descobrir Mais</button>
        </div>
        <img src="../images/RIBELLE2.jpg" alt="" id="offer-image">
      </div>
    </section>
    <section id="page3">
      
      <h5>Recomendado</h5>
      <h1 class="recomended">Veiculos Recomendados</h1> 
      <div class="wrapper">
        <ul class="carousel">

          <li class="card">
            <img src="../images/gemera.png" alt="img" id="">
            <div class="informations">
              
              <div class="info1"><h2>2023 SUPER</h2><h2>KM 0</h2></div>
              <h1 class="car_name">KOENIGSEGG GEMERA</h1>
              <p>The new Maserati “Ghibli Ribelle”, produced in a limited edition of just 200 cars for the EMEA markets, offers owners exclusive design and elegant interior trims sharing a common denominator: the refined, sophisticated “NeroRibelle” mica colour, which shows off the car’s unique design to exquisite effect.</p>
              <h1>R$ 9.000,000.00</h1>
              <button id="more">DETALHES</button>
            </div>  
          </li>
          <li class="card">
            <img src="../images/levante.png" alt="img" id="">
            <div class="informations">
              
              <div class="info1"><h2>2022 SUV</h2><h2>KM 0</h2></div>
              <h1>MASERATI LEVANTE</h1>
              <p>The new Maserati “Ghibli Ribelle”, produced in a limited edition of just 200 cars for the EMEA markets, offers owners exclusive design and elegant interior trims sharing a common denominator: the refined, sophisticated “NeroRibelle” mica colour, which shows off the car’s unique design to exquisite effect.</p>
              <h1>R$ 600,000.00</h1>
              <button id="more">DETALHES</button>
            </div>  
          </li>
          <li class="card">
            <img src="../images/RIBELLE2.jpg" alt="img" id="">
            <div class="informations">
              
              <div class="info1"><h2>2022 SEDAN</h2><h2>KM 0</h2></div>
              <h1>MASERATI RIBELLE</h1>
              <p>The new Maserati “Ghibli Ribelle”, produced in a limited edition of just 200 cars for the EMEA markets, offers owners exclusive design and elegant interior trims sharing a common denominator: the refined, sophisticated “NeroRibelle” mica colour, which shows off the car’s unique design to exquisite effect.</p>
              <h1>R$ 800,000.00</h1>
              <button id="more">DETALHES</button>
            </div>  
          </li>
          <li class="card">
            <img src="../images/revuelto.png" alt="img" id="">
            <div class="informations">
              
              <div class="info1"><h2>2023 SUPER</h2><h2>KM 0</h2></div>
              <h1>LAMBORGHINI REVUELTO</h1>
              <p>The new Maserati “Ghibli Ribelle”, produced in a limited edition of just 200 cars for the EMEA markets, offers owners exclusive design and elegant interior trims sharing a common denominator: the refined, sophisticated “NeroRibelle” mica colour, which shows off the car’s unique design to exquisite effect.</p>
              <h1>R$ 3.000,000.00</h1>
              <button id="more">DETALHES</button>
            </div>  
          </li>
          <li class="card">
            <img src="../images/296gtb.jpg" alt="img" id="">
            <div class="informations">
              
              <div class="info1"><h2>2023 SUPER</h2><h2>KM 0</h2></div>
              <h1>FERRARI 296TGB</h1>
              <p>The new Maserati “Ghibli Ribelle”, produced in a limited edition of just 200 cars for the EMEA markets, offers owners exclusive design and elegant interior trims sharing a common denominator: the refined, sophisticated “NeroRibelle” mica colour, which shows off the car’s unique design to exquisite effect.</p>
              <h1>R$ 2.500,000.00</h1>
              <button id="more">DETALHES</button>
            </div>  
          </li>
          <li class="card">
            <img src="../images/r8.jpg" alt="img" id="">
            <div class="informations">
              
              <div class="info1"><h2>2023 COUPE</h2><h2>KM 0</h2></div>
              <h1>AUDI R8</h1>
              <p>The new Maserati “Ghibli Ribelle”, produced in a limited edition of just 200 cars for the EMEA markets, offers owners exclusive design and elegant interior trims sharing a common denominator: the refined, sophisticated “NeroRibelle” mica colour, which shows off the car’s unique design to exquisite effect.</p>
              <h1>R$ 800,000.00</h1>
              <button id="more">DETALHES</button>
            </div>  
          </li>
          <li class="card">
            <img src="../images/taycan.jpeg" alt="img" id="">
            <div class="informations">
              
              <div class="info1"><h2>2023 SEDAN</h2><h2>KM 0</h2></div>
              <h1>PORSCHE TAYCAN</h1>
              <p>The new Maserati “Ghibli Ribelle”, produced in a limited edition of just 200 cars for the EMEA markets, offers owners exclusive design and elegant interior trims sharing a common denominator: the refined, sophisticated “NeroRibelle” mica colour, which shows off the car’s unique design to exquisite effect.</p>
              <h1>R$ 1.000,000.00</h1>
              <button id="more">DETALHES</button>
            </div>  
          </li>
          <li class="card">
            <img src="../images/Ix.jpg" alt="img" id="">
            <div class="informations">
              
              <div class="info1"><h2>2023 SUV</h2><h2>KM 0</h2></div>
              <h1>BMW iX</h1>
              <p>The new Maserati “Ghibli Ribelle”, produced in a limited edition of just 200 cars for the EMEA markets, offers owners exclusive design and elegant interior trims sharing a common denominator: the refined, sophisticated “NeroRibelle” mica colour, which shows off the car’s unique design to exquisite effect.</p>
              <h1>R$ 699,999.99</h1>
              <button id="more">DETALHES</button>
            </div>  
          </li>
          
        </ul>
        <div class="buttons">
          <button class="i" id="left">&larr;</button>
          <button class="i" id="right">&rarr;</button>
        </div>
      </div>
    </section>
    <section id="page4">
      <h1>SERVIÇOS OFERECIDOS</h1>
      <h4>No matter what your automotive needs may be, we're here to help. Contact us today to <br>
        learn more about our services and how we can assist you with all of your needs.</h4>
    </section>
  </div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js'></script><script  src="../js/script.js"></script>

</body>
</html>
